[Desktop Entry]
Version=1.0
Name=Gnome HUD
GenericName=Menu Searcher
Comment=Search active window menus
Exec=gnomehud-service
TryExec=gnomehud-service
Icon=search
Terminal=false
Type=Application
